[user]
	email = gabevenberg@gmail.com
	name = Gabe Venberg
[alias]
	hist = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'
	graph = log --graph --topo-order --all --pretty=format:'%C(auto)%h %C(cyan)%an %C(blue)%ar %C(auto)%d %s'
    recent = branch --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)'
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[difftool]
	prompt = false
[diff]
    ; tool = nvimdiff
    tool = difftastic
	algorithm = histogram
	submodule = log
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool=true
[pull]
	ff = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autoSquash = true
[help]
	autocorrect = prompt
[core]
	pager = delta
[delta]
    side-by-side = true
[branch]
	sort = -committerdate
[status]
	submodulesummary = true
